<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <title>{{ page.title }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/lmenezes.css" rel="stylesheet">
  </head>

  <body>
		<div class="container">
		  <div class="row">
				<div class="col-xs-12">
					<span>
						<a href="/">
							<img src="/imgs/neno.png" alt="..." class="img-circle" height="180px" width="180px">
						</a>
					</span>
				</div>
				<div class="col-xs-12 name">
					Leonardo Menezes
				</div>
				<div class="col-xs-12 profile-badges">
					<span class="profile-badge">
						<a href="http://github.com/lmenezes">
							<i class="icon-github"></i>
						</a>
					</span>
					<span class="profile-badge">
						<a href="https://www.xing.com/profile/Leonardo_Menezes">
							<i class="icon-xing"></i>
						</a>
					</span>
					<span class="profile-badge">
						<a href="http://twitter.com/leonardomenezes">
							<i class="icon-twitter"></i>
						</a>
					</span>
				</div>
			</div>
		</div>
    <!-- script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script -->
  </body>
</html>